/* but at th end, when we have 500 line of CSS code, it is not a good idea to put all of them in head section and in index.html, that's why we define a separate CSS file as style.css => SEPARATION OF CONCERN*/

h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif; /*serif is default*/
}

h1 {
  /* color: blue; */
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5; /* the space between the lines for every paragraph. By default, it is 1*/
}

li {
  font-size: 20px; /* default is 16px*/
}

/*All the paragraphs only in footer get the font-size of 16px and not all the paragraphs in the code! => This is called: Descendant Selector*/
footer p {
  font-size: 16px;
}

/* Uisng a nested descendant Selector => using article in addition to the header and p: only paragraph inside the header and header inside the article would be italic*/
/* article header p {
  font-style: italic;
} */

/* Instead of using above nested descendant Selector, I use id and it is simpler and easier to understand! */
#author {
  font-style: italic;
}
